attrs==17.4.0
Automat==0.6.0
certifi==2018.1.18
chardet==3.0.4
constantly==15.1.0
csvtsdb==0.1.5
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
klein==17.10.0
pkg-resources==0.0.0
requests==2.18.4
six==1.11.0
treq==17.8.0
Twisted==17.9.0
urllib3==1.22
Werkzeug==0.14.1
zope.interface==4.4.3
